@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.container {
    border: 1px solid magenta;
}




body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  color: #4A455C;
 }

a {
  text-decoration: none;
  color: #4A455C;
  font-size: 1.5rem;
  font-weight: bold;

}

p {
  line-height: 1.75em;
  margin: 0 0 1em 0;
}

h1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 7.1875rem;
  font-weight: 500;
  width: 100%;
}

h2 {
  font-size: 2.8125rem;
  font-weight: 500;
}

h1, h2 {
  margin: 0 0 .5em 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
 }


button {
  font-size: 1.375rem;
  font-weight: 500;
}

footer {
  color: #FFFFFF;
  background-color: #D64C31;

}

footer a {
  color: #FFFFFF;
}

footer a:hover {
  color: #4A455C;
}

footer h3 {

  font-weight: 500;
  font-size: 1.875rem;
  margin-bottom: 1rem;
}


.container {
  width: 100%;
  display: flex;
  justify-content: center;

  max-width: 1600px;
  margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

.nav-links {
  margin-top: .25rem;
  display: flex;
  align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

.top-nav {

  position: relative;

  max-width: 1600px;
  margin: .75rem 0;
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
  align-items: center;
  width: 90%;
  text-align: center;
  flex-direction: column;
  border: 1px solid blue;
}



.top-nav img {
  width: 100%;
  max-width: 396px;
  height: 100%;

}

.top-nav a:hover {
  color: #D64C31;
}

/*.top-nav ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}*/

.header {
  display: flex;
  flex-direction: column;
}

.header-logo  {
  display: flex;
}


.header-logo:hover {
  filter: grayscale(95%);
  /*filter: drop-shadow(0 0 2px #7C7D98);*/
}

.header-img {

}

.header-img img {
  width: 100%;
  height: auto;
}


.header-text {
 /* z-index: 1;
  position: relative;
  top: -10%;
  width: 70%*/;
  background-color: #D64C31;
  /*align-self: flex-end;*/
  /*padding: 3rem 6.25rem 3rem 6.5rem;*/
  color: #FFFFFF;
}

.header-text h1 {
  margin: 0;
}

/*****/


.blog {
  /*position: absolute;*/
  padding: 4rem 0;
}

.blog h1 {
  font-size: 6.875rem;
}
.blog-posts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  color: #FFF0E7;

}

.blog-posts h2 {
  color: #FFFFFF;
}


.top-blog-posts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.125rem;
}

.blog-post {
  background-color: #4A455C;
}

.blog-post button {
  background-color: #D64C31;
  color: #FFFFFF;
  border: none;
  padding: 1rem 2rem;
}

.blog-post button:hover {
  color: #D64C31;
  background-color: #FFFFFF;
}

.card {
  display: flex;
  flex-direction: column;
  width: 27.5rem;
}

.card-text {
  margin: 2.5rem;
}

.date {
  text-transform: uppercase;
}
.wide {
  width: 58.125rem;
}

.about-us {
  color: #FFF0E7;
  background-color: #7C7D98;
  height: 100%;
}

.related-posts {
  background-color: #FFF0E7;
  padding: 3rem 0;
}

.related-posts h1 {
  font-size: 4rem;
}

.related-post button {
  background-color: #FFFFFF;
  border: 1px solid #D64C31;
  padding: 1rem 2rem;
}

.related-post button:hover {
  color: #FFFFFF;
  background-color: #D64C31;
}


.related-post {
  background-color: #FFFFFF;
  margin-bottom: 4rem;
}

.related-post h2 {
  color: #D64C31;
}

/************/


.footer {
  display:flex;
  flex-direction: row;
  align-items: flex-end;
}

.footer-nav {
  margin-bottom: 3rem;
}

.footer-info {
  margin: 50px 0px 0px 90px;
}

.footer-form {
  width: 55%;
  background-color: #4A455C;
  margin: 0 5.625rem;
  margin-top: -5%;
}

.mailing-list {
  margin: 6.875rem 4.375rem 2rem 4.375rem;
  width: 100;
}

.mailing-list h2 {
  font-size: 1.875rem;
  font-weight: 700;
}

.mailing-list button {
  padding: 1rem 2rem;
  background-color: #ffceb0;
  margin: 1rem 0;
  border: 1px solid black;
  border-radius: .25rem;
  box-shadow: 0px 1px 2px black;

}

#mailing-list {
  width: 100%;
  padding: 1.25rem 0;
  padding-left: 1rem;
  border-radius: .25rem;
}

.socials i {
  margin-right: 2rem;
}

.fab:hover {
  color: #D64C31;
}







@media (min-width: 320px) {
  html {
    font-size: 8px;
  }
  .top-nav {
    max-width: 320px;

  }
}

@media (min-width: 480px) {
  .top-nav {
    max-width: 480px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 12px;
  }

  nav {
    width: 40%;
  }

  .top-nav {
    max-width: 768px;
    flex-direction: row;
  }
  .nav-links {
    margin: 0;
   }
}

@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
  .top-nav {
    max-width: 1024px;
  }
}



/*
Mobile (Smartphone) max-width: 480px
Low Resolution Tablets and ipads max-width: 767px
Tablets Ipads portrait mode max-width:1024px
Desktops max-width:1280px
Huge size (Larger screen) max-width: 1281px and greater
*/
