@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  color: #4A455C;
 }

a {
  text-decoration: none;
  color: #4A455C;
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  font-size: 1.5rem;
  line-height: 1.75em;
  margin: 0 0 1em 0;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

h1, h2 {
  margin: 0;
}

h1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 6.5rem;
  font-weight: 400;
  width: 100%;
}

h2 {
  font-size: 2.8125rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
}

ul {
  padding: 0;
}

li {
  list-style: none;
 }

img {
  width: 100%;
  height: auto;
}

button {
  font-size: 1.375rem;
  font-weight: 500;
}

footer {
  color: #FFFFFF;
  background-color: #D64C31;
}

footer a {
  color: #FFFFFF;
}

footer a:hover {
  color: #4A455C;
}

footer h3 {
  font-weight: 500;
  font-size: 1.875rem;
  margin-bottom: 1rem;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  max-width: 1600px;
  margin: 0 auto;
}

.card {
  margin: 2.8125rem 2.4375rem;
  width: 88.75%;
}

/*** HEADER ***/

.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  margin: 3.6875rem 0 1.875rem 0;
}



.top-nav a:hover {
  color: #D64C31;
}

.nav-links {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  -webkit-box-pack: end;
       -ms-flex-pack: end;
           justify-content: flex-end;

}

.header-logo:hover {
  filter: grayscale(95%);
}

.header-content {
  background-color: #D64C31;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.header-text {
  color: #FFFFFF;
  background-color: #D64C31;
  margin:2.9rem 6.4375rem;

}

.header-text h1 {
  font-size: 7.1875rem;
  margin: 0;
}

/*** MAIN CONTENT ***/

.main-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  max-width: 1600px;
  margin: 0 auto;
}

.blog-posts {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  max-width: 1600px;
  margin: 0 auto;
  -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.blog-post {
  margin: 0;
  color: #FFF0E7;
  background-color: #4A455C;
}

.blog-post button {
  background-color: #D64C31;
  color: #FFFFFF;
  border: none;
  padding: 1rem 2rem;
}

.blog-post button:hover {
  color: #D64C31;
  background-color: #FFFFFF;
}

.date {
  text-transform: uppercase;
}

.about-us {
  color: #FFF0E7;
  background-color: #7C7D98;
  height: 100%;
}

/*** SECONDARY CONTENT ***/

.secondary-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFF0E7;
  -ms-flex-pack: distribute;
        justify-content: space-around;
}

.secondary-content h1 {
  font-size: 4rem;
}

.related-post button {
  background-color: #FFFFFF;
  border: 1px solid #D64C31;
  padding: 1rem 2rem;
}

.related-post button:hover {
  color: #FFFFFF;
  background-color: #D64C31;
}

.related-post {
  background-color: #FFFFFF;
}

.related-post h2 {
  color: #D64C31;
}

/*** FOOTER ***/

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-info img {
  width: initial;
}

.footer-card {
  margin: 2.8125rem auto;
  width: 88.75%;
}

.footer-nav {
  justify-content: flex-start;
  margin: 2rem 0;
}

.footer-nav li {
  margin-right: .75rem;
  margin-bottom: 1rem;
}

.footer-form {
  background-color: #4A455C;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  max-width: 1600px;
}

.mailing-list {
  margin: 2rem 0;
  margin: 2.8125rem auto;
  width: 88.75%;
}

.mailing-list h2 {
  font-size: 1.875rem;
  font-weight: 700;
}

.mailing-list button {
  padding: 1rem 2rem;
  background-color: #ffceb0;
  margin: 1rem 0;
  border: 1px solid black;
  border-radius: .25rem;
  box-shadow: 0px 1px 2px black;
}

#mailing-list {
  width: 88.75%;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: .25rem;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials i {
  margin-right: 2rem;
}

.fab:hover {
  color: #D64C31;
}

/*** MEDIA QUERIES ***/

@media (min-width: 280px) {
  html {
    font-size: 10px;
  }

  .top-nav {
    max-width: 320px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 12px;
  }

  .top-nav-bar {
    width: 50%;
  }

  .top-nav {
    max-width: 768px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }


  .nav-links {
    margin: 0;
    margin-left: 4.3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 85%;
  }

  .header-content {
    width: 65%;
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin: 0;
    margin-top: -14rem;
  }

  .header-img {
    min-height: 40rem;
    overflow: hidden;
  }

  .blog-post {
    width: 41.56275%;
    margin-bottom: 3.6rem;
  }

  .wide, .about-us, .related-post {
    width: 88.75%;
    margin-bottom: 3.6rem;
  }

  .related-post {
    margin-bottom: 7.5rem;
  }

  .footer-nav {
    max-width: 75%;
  }

  .footer-nav li {
    margin-right: 2.5rem;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }

  p {
    font-size: 1.25rem;
  }

  .top-nav {
    max-width: 1600px;
  }

  .header-content {
    width: 69.625%;
    -ms-flex-item-align: end;
    align-self: flex-end;

    margin: 0;
    margin-top: -7.4375rem;
  }

  .blog-posts {
    margin: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 58.125%;
    margin-bottom: 3.125rem;
  }

  .blog-post {
    width: 47.3%;
    margin-bottom: 3.125rem;
  }

  .wide {
    width: 100%;
  }

  .about-us {
    margin: 0;
    margin-left: 3.125%;
    width: 27.5%;
  }

  .related-posts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 88.75%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .related-post {
    margin-left: 0;
    margin-right: 0;
    width: 31%;
  }

  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 1600px;
    margin: 0 auto;
  }

  .footer-card {
    margin: 2.8125rem 0;
  }

  .footer-form {
    width: 34.6875%;
    margin-top: -4rem;
    margin-right: 5.625%;
  }

  .mailing-list {
    margin: 6.875rem 4.375rem 0 4.375rem;
  }

  .footer-info {
    margin-left: 5.625%;
    width: 50%;

  }

  .footer-nav {
    max-width: 100%
  }
}

@media (min-width: 1440px) {
  .nav-links {
    margin-left: 4.2rem;
    width: 60%;
  }
}
